{% extends "base.html" %}

{% block title %}忘記密碼{% endblock %}
{% block import %}<link rel="stylesheet" type="text/css" href="../static/forgot.css"/>{% endblock %}

{% block content %}
<div id="form-title">更改密碼~</div>
<br/><br/><br/>
<div id="form-bolder">
<form action="/forgot_password" method="post">
    {{form.csrf_token}}
    <br/><br/>
    {{form.username}}
    <br/><br/>
    {{form.new_password}}
    <br/><br/>
    {{form.repeat_password}}
    <br/><br/>
    {% for msg in get_flashed_messages() %}
    <div class="alert">{{msg}}</div>
    {% endfor %}
    <br/><br/>
    {{form.submit}}
    <br/><br/>
</form>
</div>
{% endblock %}