<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale">
        <title>Resume</title>
        <link rel="stylesheet" type="text/css" href="../static/resume.css"/>
        <link rel="shortcut icon" href="https://s3.amazonaws.com/django-blog/ico/favicon_v2.ico">
    </head>
    <body>
        <nav class="head">
            <span id="Logo">Xian</span>
            <span class="content"><a id="content_link" href="/resume">Resume</a></span>
            <span class="content">Course</span>
        </nav>
        <div id="resume_back"><img id="resume" src="../static/葉柏賢.jpg" width="70%"></div>    
        <div class="end">
            <div class="end-block"><a><img class=end_pict src="../static/Gmail.png" height="35px" width="40px"></a></div>
            <div class="end-block"><a><img class=end_pict src="../static/FB.png" height="38px" width="40px"></a></div>
            <div class="end-block1"><a><img class=end_pict src="../static/IG.png" height="50px" width="50px"></a></div> 
            <div class="end-block1"><a><img class=end_pict src="../static/LINE.png" height="50px" width="50px"></a></div> 
        </div>
    </body>
</html>